In [ ]:
# Dataset is from Heegyu Kim, available at https://huggingface.co/datasets/heegyu/news-category-dataset, under CC-BY 4.0 license.
# The dataset is a collection of news articles from various categories from Huffington Post.
!git clone https://huggingface.co/datasets/heegyu/news-category-dataset

c:\Users\admin\Documents\DocBERT2\news-category-dataset

Cloning into 'news-category-dataset'...
c:\Users\admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_json("./news-category-dataset/data.json", lines=True)
df.head(5)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [8]:
unique_categories = df['category'].unique()
print("Unique categories in the dataset: ", unique_categories)

Unique categories in the dataset:  ['U.S. NEWS' 'COMEDY' 'PARENTING' 'WORLD NEWS' 'CULTURE & ARTS' 'TECH'
 'SPORTS' 'ENTERTAINMENT' 'POLITICS' 'WEIRD NEWS' 'ENVIRONMENT'
 'EDUCATION' 'CRIME' 'SCIENCE' 'WELLNESS' 'BUSINESS' 'STYLE & BEAUTY'
 'FOOD & DRINK' 'MEDIA' 'QUEER VOICES' 'HOME & LIVING' 'WOMEN'
 'BLACK VOICES' 'TRAVEL' 'MONEY' 'RELIGION' 'LATINO VOICES' 'IMPACT'
 'WEDDINGS' 'COLLEGE' 'PARENTS' 'ARTS & CULTURE' 'STYLE' 'GREEN' 'TASTE'
 'HEALTHY LIVING' 'THE WORLDPOST' 'GOOD NEWS' 'WORLDPOST' 'FIFTY' 'ARTS'
 'DIVORCE']

In [13]:
world_category = df[(df['category'] == 'WORLD') | (df['category'] == 'WORLD NEWS') | (df['category'] == 'WORLDPOST') | (df['category'] == 'THE WORLDPOST')]
print("Number of WORLD category articles: ", len(world_category))

Number of WORLD category articles:  9542

In [ ]:
sports_category = df[(df['category'] == 'SPORTS') | (df['category'] == 'SPORT')]
print("Number of SPORTS category articles: ", len(sports_category))

Number of SPORTS category articles:  5077

In [16]:
business_category = df[(df['category'] == 'BUSINESS')]
print("Number of BUSINESS category articles: ", len(business_category))

Number of BUSINESS category articles:  5992

In [17]:
science_category = df[(df['category'] == 'SCIENCE') | (df['category'] == 'SCIENCE & TECH') | (df['category'] == 'SCIENCE & TECH') | (df['category'] == 'TECH')]
print("Number of SCIENCE category articles: ", len(science_category))

Number of SCIENCE category articles:  4310

In [ ]:
science_category['Description'] = science_category['headline'] + "\n\n" + science_category['short_description']
science_category['Class Index'] = 3

business_category['Description'] = business_category['headline'] + "\n\n" + business_category['short_description']
business_category['Class Index'] = 2

sports_category['Description'] = sports_category['headline'] + "\n\n" + sports_category['short_description']
sports_category['Class Index'] = 1

world_category['Description'] = world_category['headline'] + "\n\n" + world_category['short_description']
world_category['Class Index'] = 0

science_category = science_category[['Description', 'Class Index']]
business_category = business_category[['Description', 'Class Index']]
sports_category = sports_category[['Description', 'Class Index']]
world_category = world_category[['Description', 'Class Index']]

test_data_df = pd.concat([science_category, business_category, sports_category, world_category], ignore_index=True)
# Shuffle the DataFrame
test_data_df = test_data_df.sample(frac=1, random_state=42).reset_index(drop=True)

test_data_df.head(10)

C:\Users\admin\AppData\Local\Temp\ipykernel_6844\3064268492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  science_category['Description'] = science_category['headline'] + "\n\n" + science_category['short_description']
C:\Users\admin\AppData\Local\Temp\ipykernel_6844\3064268492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  science_category['Class Index'] = 3
C:\Users\admin\AppData\Local\Temp\ipykernel_6844\3064268492.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_category['Description'] = business_category['headline'] + "\n\n" + business_category['short_description']
C:\Users\admin\AppData\Local\Temp\ipykernel_6844\3064268492.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_category['Class Index'] = 2
C:\Users\admin\AppData\Local\Temp\ipykernel_6844\3064268492.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sports_category['Description'] = sports_category['headline'] + "\n\n" + sports_category['short_description']
C:\Users\admin\AppData\Local\Temp\ipykernel_6844\3064268492.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sports_category['Class Index'] = 1
C:\Users\admin\AppData\Local\Temp\ipykernel_6844\3064268492.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  world_category['Description'] = world_category['headline'] + "\n\n" + world_category['short_description']
C:\Users\admin\AppData\Local\Temp\ipykernel_6844\3064268492.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  world_category['Class Index'] = 0

                                         Description  Class Index
0  Trump’s Saudi Trip Should Be About Ending The ...            0
1  Russia Vows To Expand 'Black List' Of American...            0
2  It's Been A Long, Crazy Year Since Britain's S...            0
3  First Penis Transplants In U.S. Planned For Wo...            3
4  U.S.-Backed Forces Prepare For ISIS To Use Che...            0
5  The European Migrant Crisis Is A Nightmare. Cl...            0
6  A Bunch Of Strange Things Just Went Down At NB...            1
7  Minor Explosion Rattles IMF Headquarters In Pa...            0
8  Shalane Flanagan Becomes First U.S. Woman To W...            1
9  10 Instagrams To Celebrate Crown Prince Hussei...            0

In [19]:
test_data_df.to_csv("test_data.csv", index=False)